/*|=====================================================================================|
**| Reset CSS                                                                           |
**| Src: http://meyerweb.com/eric/tools/css/reset/                                      |
**| Version:  v2.0 | 20110126                                                           |
**| License: none (public domain)                                                       |
**|                                                                                     |
**| CRITICAL: Ignore code in this section, intended to remove styles                    |
**|           added by browsers!                                                        |
**|====================================================================================*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0; padding: 0; border: 0; font-size: 100%;font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

/*|=====================================================================================|
**|                               END Reset CSS                                         |
**|====================================================================================*/


/*|=====================================================================================|
**| Global Style Rules                                                                  |
**|                                                                                     |
**| CAUTION: Styles in this section set default values for different UI elements,       |
**|          such as colors, fonts, and layout. These styles are applied globally       |
**|          take cation with what's being changed here!                                |
**|====================================================================================*/

:root {
  /* Global color Variables */
  --primary-color: #880D1E;
  --secondary-color: #DD2D4A;
  --primary-color-shade: #F26A8D;
  --secondary-color-shade: #F49CBB;
  --complimentary-color-soft-blue: #CBEEF3;
  --background-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--background-color, #ffffff);
}
hr {
  width: 100%;
  height: 1.5px;
  border: none;
  outline: none;
  display: block;
  background: #dadada;
}
label {
  margin: 0;
  display: block;
  color:#555555;
  width: calc(100% - 24px);
}
/* DEFAULT: Inputs, Buttons, Text-areas and Select elements
**======================================================================================*/
input, textarea, select, button, .__button {
  padding: 12px;
  box-sizing: 0;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  width: calc(90% - 26px);
  margin: 4px auto 20px auto;
  border-color: var(--secondary-color, #DD2D4A);
}
button:disabled, .__button:disabled {
  opacity: .2 !important;
}

input::placeholder, textarea::placeholder, select {
  background: transparent;
}
input[type="submit"], input[type="button"], .__button {
  width: 100%;
  display: block;
  color: white;
  cursor: pointer;
  font-weight: bold;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}
input[type="submit"]:hover, input[type="button"]:hover, .__button:hover {
  background-color: #555;
  transition: all 0.3s ease-in-out;
}

a,
a:link,
a:active,
a:visited {
  cursor: pointer;
  text-decoration: none;
  transition: all 400ms ease-in-out;
  color: var(--primary-color-shade, #F26A8D);
}
a:hover {
  color: var(--secondary-color, #DD2D4A);
  transition: all 400ms ease-in-out;
  text-decoration: underline dotted var(--secondary-color, #DD2D4A);
}
small {
  font-weight: normal;
  font-size: 0.845rem;
  display: inline-block;
}
/*|=====================================================================================|
**|                               END Global CSS                                        |
**|====================================================================================*/



/*|=====================================================================================|
**| REUSEABLE: UI Style Rules                                                                      |
**|                                                                                     |
**| CAUTION:                                                                            |
**|====================================================================================*/

/* UI Buttons Options: __button.[primary|secondary]
**======================================================================================*/
.__button.primary {
  background-color: var(--secondary-color, #DD2D4A);
}
.__button.primary:hover{
  background-color: var(--primary-color, #880D1E);
}
.__button.secondary {
  background-color: var(--primary-color-shade, #F26A8D);
}
.__button.secondary:hover{
  background-color: var(--primary-color, #880D1E);
}
.__button.tertiary {
  background-color: var(--secondary-color, #DD2D4A);
}
.__button.tertiary:hover {
  background-color: var(--primary-color-shade, #F26A8D);
}

/* UI Page Options: __page.[dashboard|none-auth]
**======================================================================================*/
.__page {
  margin: auto;
  padding: 12px;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  max-height: calc(100% - 24px);
  min-height: calc(100% - 24px);
  max-width: calc(1480px - 24px);
  min-width: calc(20px - 24px);
  background-color: rgba(255, 255, 255, 0.25);
}
.__page.none-auth {
  top: 50%;
  left: 50%;
  padding: 0;
  position: absolute;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: calc(100%);
  height: calc(100%);
  max-height: calc(100%);
  min-height: calc(100%);
  max-width: calc(1480px);
  min-width: calc(20px);
  transform: translate(-50%, -50%);
}
.__page.dashboard {
  background-color: rgba(255, 255, 255, 0.75);
}


.__grid {
  height: auto;
  margin: auto;
  padding: 12px;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: calc(100% - 24px);
}
.__grid.columns {
  gap: 12px;
  margin: auto;
  flex-direction: row;
}
.__grid.columns > * {
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
}
.__grid.rows {
  margin: auto;
  flex-direction: column;
}

/* Template: None Authenticated Pages custom styles rules
**======================================================================================*/
.__page.none-auth .__grid.columns {
  gap: 0;
  height: 100%;
  padding: 0;
  min-height: 100%;
  max-height: 100%;
  width: calc(100%);
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.__page.none-auth .__grid.columns > .__gutter,
.__page.none-auth .__grid.columns > .__content {
  margin: auto;
  display: flex;
  padding: 12px;
  align-items: center;
  justify-items: start;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 24px);
}
.__page.none-auth .__grid.columns > .__gutter {
  width: 460px;
  border-left: 2px solid var(--primary-color-shade, #F26A8D);
}
.__page.none-auth .__grid.columns > .__content {
  width: calc(100% - 510px);
}


/* IMAGE: */
.__image_container {
  margin: 12px;
  display: block;
  overflow: hidden;
  background-size: cover;
  width: calc(100% - 24px);
  height: calc(34em - 24px);
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: .4em;
}
.__image_container.portrait {
  margin: auto;
  display: block;
  overflow: hidden;
  background-size: cover;
  width: calc(28em - 24px);
  height: calc(32em - 24px);
  background-repeat: no-repeat;
  background-position: center center;
}
.__image_container.landscape {
  margin: 12px;
  display: block;
  overflow: hidden;
  background-size: cover;
  width: calc(100% - 24px);
  height: calc(34em - 24px);
  background-repeat: no-repeat;
  background-position: center center;
}

/* Typography: */
.__text {
  font-size: 1rem;
  color: #858484;
  text-align: left;
  text-indent: 6px;
  font-weight: normal;
  line-height: 1.82rem;
  display: inline-block;
}
.__article_title {
  padding: 12px;
  display: flex;
  flex: 0 0 auto;
  color: #858484;
  text-align: left;
  font-size: 1.42rem;
  font-weight: bolder;
  margin-bottom: 2px;
  line-height: 1.82rem;
  align-items: center;
  justify-items: center;
  justify-content: left;
  width: calc(100% - 24px);
}
.__article_text {
  padding: 12px;
  display: block;
  color: #858484;
  text-align: left;
  font-size: 1rem;
  text-indent: 24px;
  font-weight: normal;
  margin-bottom: 12px;
  line-height: 1.82rem;
  width: calc(100% - 24px);
}
.__article_text.sm-line-height {
  padding-top: 0;
  padding-bottom: 0;
  line-height: .82rem;
}
.__article_text.center {
  text-align: center !important;
}

/*FORMS: */
.__form_title {
  padding: 12px;
  display: flex;
  flex: 0 0 auto;
  color: #858484;
  text-align: left;
  font-size: .982rem;
  font-weight: bolder;
  margin-bottom: 2px;
  line-height: 1.82rem;
  align-items: flex-start;
  justify-items: left;
  justify-content: left;
  width: calc(100% - 24px);
}
.__form_title.center {
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.__form {
  margin: auto;
  padding: 12px;
  display: flex;
  flex: 0 0 auto;
  border-radius: .4em;
  flex-direction: column;
  width: calc(100% - 24px);
  background: whitesmoke;
}
.__form_group {
  margin: auto;
  padding: 12px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: calc(100% - 24px);
}
.__form_group input,
.__form_group select,
.__form_group textarea {
  margin: 0;
  outline: 0px;
  padding: 12px;
  box-sizing: none;
  border-width: 1px;
  border-color: #dadada;
  width: calc(100% - 24px);
  max-width: calc(95% - 26px);
  min-width: calc(95% - 26px);
}
.__form_group label {
  margin-bottom: 10px;
  font-size: 0.8245rem;
}
.__form_action {
  margin: auto;
  padding: 12px;
  display: flex;
  flex: 0 0 auto;
  border-radius: .4em;
  flex-direction: row;
  width: calc(100% - 24px);
  background: whitesmoke;
}
.__form_required {
  color: red;
  font-weight: 100;
}
.__form_error {
  color: red;
  margin-top: 4px;
  font-weight: 100;
  font-style: italic;
}
.__form-notification {
  gap: 4px;
  color: #fff;
  display: flex;
  padding: 6px;
  flex: 0 0  auto;
  margin-top: 6px;
  font-size: .825rem;
  flex-direction: row;
  border-radius: 0.4em;
  justify-items: center;
  align-items: flex-start;
  width: calc(100% - 12px);
  justify-content: flex-start;
}
.__form-notification > * {
  margin: 0;
  padding: 0;
  text-align: left;
  display: inline-block;
  width: calc(100% - 24px);
}
.__form-notification.error {
  background: rgb(236, 81, 81) !important;
}
.__form-notification.warn{
  background: rgb(180, 120, 40) !important
}
.__form-notification.success{
  background: rgb(81, 189, 81) !important
}


/* LINKS: */
.__article_link {
  gap: 2px;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  padding: 0 !important;
  text-indent: 0 !important;
}
.__article_link.__has_icon {
  gap: 4px;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  padding: 0 !important;
  text-indent: 0 !important;
}
.__article_link.__has_icon .__icon,
.__article_link.__has_icon .__title {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 0 0 auto;
  text-align: left;
  position: relative;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.__article_link.__has_icon .__icon {
  width: auto;
}
.__article_link.__has_icon .__title {
  width: auto;
}


/* LISTS */
.__list {
  display: block;
  padding: 12px;
  list-style: circle outside;
  list-style-type: circle;
  list-style-position: outside;
  width: calc(100% - 29px);
}


/* GRADIENTS */
.__gradient {
  margin: 0;
  border-radius: .8em;
  position: relative;

}
.__gradient.whites {
  color: #858484;
  background: #CBEEF3;
  border: 0.2em solid #72979C;
  box-shadow: 2px 2px 5px 0px rgba(33, 33, 33, 0.55);
  background: linear-gradient(342deg,rgba(203, 238, 243, 1) 6%, rgba(255, 255, 255, 1) 56%);
}
.__gradient.primary {
  color: #ffffff;
  background: #DD2D4A;
  border: 0.2em solid rgba(136, 13, 30, 1);
  box-shadow: 2px 2px 5px 0px rgba(33, 33, 33, 0.55);
  background: linear-gradient(159deg,rgba(221, 45, 74, 1) 7%, rgba(136, 13, 30, 1) 81%);
}
